<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <ul class="list-inline mb-1">
                    <li class="list-inline-item">
                        <a href="/terms" id="terms">
                            Terms & Condition
                        </a>
                    </li>
                    <li class="list-inline-item"> | </li>
                    <li class="list-inline-item">
                        <a href="/privacy" id="privacy">
                            Privacy Policy
                        </a>
                    </li>
                </ul>
                <p class="mb-0">
                    <small id="textreserch">This site is archive for for research purpose.</small>
                </p>
                <p class="mb-0">
                    <small id="showlang hidden"></small>
                    <small id="showip hidden"></small>
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/frontconstant.min.js"></script>
